
#myContainer {
    position: relative;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

canvas {
    display: block;
    width:100%;
    height: 300px;
    border: 1px solid black;
    margin :auto auto;
}
#title {
    display: inline;
    text-shadow: 5px 2px 30px black;
    font-size: 1em;
    margin-left: 10px;
}
#rowSpacer {
    margin-top: 5px;
}
#referenceWrapper {
    display: inline;
    margin-right: 10px;
    float: right;
}
#AlgoSelector {
    display: inline-block;
}

#wrapper{
    margin-left: 10px;
    
}
 #timeCompOrQuestion,#descriptionTitle{
     margin:0px;
     text-align: center;
     border-bottom: 1px solid black;
     height: 20px;
 }

#descriptionText {
    margin-left: 5px;
}

.button{
    border:none;
    background: green;
    border-radius: 5px;
    padding: 3px;
    color: white;
}
.button:hover {
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.24), 0 2px 50px 0 rgba(0,0,0,0.19);
  }
.button:focus{
    outline: none;
}
#addButton, #removeButton {
    position: relative;
    top : 50%;
    left: 20%;
    background: gray;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin: 15px;
    width: 50%;
}
#divider {
    width: 30px;
    display: inline-block;
}

#complexityAnalysisOrButtons {
    display: inline-block;
    margin-top: 10px;
    border: 1px solid black;
    width: 30%;
    height: 190px;
    vertical-align: top
}
#description{
    margin-top: 10px;
    display: inline-block;
    border:1px solid black;
    width : 69%;
    height : 190px;
}
#myCanvas {
    margin-top: 10px;
    height: 300px;
}
body {
  
}

#interval {

    margin : 10px ;
    
}